# MAC
.DS_Store

# python cache 
__pycache__/

#  vs code files
.vscode/

# Data, Models and Figures
*.csv
*.json
*.pkl
*.parquet
*.png
*.pdf
*volumes
*.zip
*.pyc
*.pyo
*.pyd
__pycache__
airflow/
fintech_etl_postgres/
.env